body {
  text-align: center;
}

.mdl-layout__content {
  width: 100vw;
}

.tradingview {
  width: 100%;
  height: 60vw;
}

#tradingview_78106 {
  height: 90%;
}

table {
  width: 100%;
}

.position__cards {
  text-align: left;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}

.position__cards .demo-separator {
  height: 32px;
}
.position__cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.position__cards ul {
  padding: 0;
}
.position__cards h3 {
  font-size: 1em;
}
.position__last-price .mdl-card__title {
  min-height: 200px;
  background-image: url('./dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.position__cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.list__key, .list__value {
  width: 50%;
}
.list__key {
  font-weight: 600;
}
.list__value {
  text-align: right;;
}
